*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container-main-karakter {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: aqua;
  display: flex;
  overflow: scroll;
}
.container-main-karakter .container-karakter {
  width: 80%;
  height: 100%;
  background-color: blue;
  display: flex;
}
.container-main-karakter .container-karakter .jenis-karakter {
  width: 35%;
  position: relative;
  z-index: 9;
}
.container-main-karakter .container-karakter .jenis-karakter .garis-putih {
  position: absolute;
  width: 3px;
  background-color: black;
  height: 100%;
  left: 20px;
}
.container-main-karakter .container-karakter .jenis-karakter ul {
  width: 100%;
  margin-top: 30%;
}
.container-main-karakter .container-karakter .jenis-karakter ul .li-jenis-agen {
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.container-main-karakter .container-karakter .jenis-karakter ul .li-jenis-agen p {
  margin-left: 20px;
  font-weight: 700;
  color: rgb(22, 22, 22);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.container-main-karakter .container-karakter .jenis-karakter ul .li-jenis-agen span {
  display: block;
  margin-left: 19.5px;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px white;
  rotate: 45deg;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.container-main-karakter .container-karakter .jenis-karakter ul .active-li-jenis-agen {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}
.container-main-karakter .container-karakter .jenis-karakter ul .active-li-jenis-agen .active-p-lore {
  margin-left: 30px;
  color: white;
}
.container-main-karakter .container-karakter .jenis-karakter ul .active-li-jenis-agen .active-span-role {
  width: 10px;
  height: 10px;
  margin-left: 16.5px;
}
.container-main-karakter .container-karakter .jenis-karakter ul .li-jenis-agen:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}
.container-main-karakter .container-karakter .jenis-karakter ul .li-jenis-agen:hover p {
  color: white;
}
.container-main-karakter .container-karakter .jenis-karakter ul .li-jenis-agen:hover span {
  width: 10px;
  height: 10px;
  margin-left: 16.5px;
}
.container-main-karakter .container-karakter .gambar-karakter {
  width: 65%;
  position: relative;
  display: flex;
  justify-content: center;
}
.container-main-karakter .container-karakter .gambar-karakter img {
  width: 800px;
  position: absolute;
  margin-top: -40px;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}
.container-main-karakter .container-slide {
  background-color: rgba(255, 255, 255, 0.425);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  height: max-content;
}
.container-main-karakter .container-slide .btn-prev,
.container-main-karakter .container-slide .btn-next {
  width: 45px;
  height: 65px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.container-main-karakter .container-slide .btn-prev {
  background-image: url("../components/icon/button-previe.png");
  margin-right: 20px;
}
.container-main-karakter .container-slide .btn-next {
  background-image: url("../components/icon/button-next.png");
  margin-left: 20px;
}
.container-main-karakter .container-slide .slider {
  width: 560px;
  padding: 5px;
}
.container-main-karakter .container-slide .slick-slide {
  width: 90px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid transparent;
  cursor: pointer;
}
.container-main-karakter .container-slide .slick-slide img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.container-main-karakter .container-slide .slick-slide p {
  text-align: center;
  font-weight: 700;
  background-color: rgb(33, 33, 33);
  padding: 10px;
  color: white;
  width: 100%;
}
.container-main-karakter .container-slide .slick-active {
  border: 2px solid white;
}
.container-main-karakter .container-slide .slick-active .active-img-slick {
  background: linear-gradient(145deg, rgb(0, 0, 0) 35%, rgb(144, 144, 144) 100%);
}
.container-main-karakter .container-slide .slick-active .active-p-slick {
  background-color: white;
  color: black;
}
.container-main-karakter .container-slide .slick-slide:hover {
  border: 2px solid white;
}
.container-main-karakter .container-slide .slick-slide:hover img {
  background: linear-gradient(145deg, rgb(0, 0, 0) 35%, rgb(144, 144, 144) 100%);
}
.container-main-karakter .container-slide .slick-slide:hover p {
  background-color: white;
  color: black;
}
.container-main-karakter .container-statis-karakter {
  width: 40%;
  height: 100%;
  z-index: 9;
  padding: 10px;
  padding-top: 40px;
  background-color: red;
}
.container-main-karakter .container-statis-karakter .peran-karakter {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 60px;
  display: flex;
  width: max-content;
}
.container-main-karakter .container-statis-karakter .peran-karakter::before {
  content: "// PERAN :";
  font-weight: 700;
  position: absolute;
  margin-top: -25px;
  font-size: 1rem;
}
.container-main-karakter .container-statis-karakter .peran-karakter::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../components/image/displayicon (2).png");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  align-self: center;
  margin-right: -30px;
}
.container-main-karakter .container-statis-karakter .ability-karakter {
  padding: 5px 0;
}
.container-main-karakter .container-statis-karakter .ability-karakter ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.container-main-karakter .container-statis-karakter .ability-karakter ul .logo-ability {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
}
.container-main-karakter .container-statis-karakter .ability-karakter ul .logo-ability img {
  width: 100%;
}
.container-main-karakter .container-statis-karakter .ability-karakter h3 {
  margin-bottom: 20px;
  margin-left: 15px;
}
.container-main-karakter .container-statis-karakter .ability-karakter p {
  position: relative;
  margin-left: 15px;
  line-height: normal;
  padding-right: 10px;
}
.container-main-karakter .container-statis-karakter .ability-karakter p::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  margin-left: -20px;
  margin-top: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
.container-main-karakter .container-statis-karakter .ability-karakter::before {
  content: "// KEMAMPUAN KHUSUS :";
  font-weight: 700;
  position: absolute;
  margin-top: -25px;
  font-size: 1rem;
}/*# sourceMappingURL=karakter.css.map */