@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Karma', serif;
  }

  h1 {
    font-family: 'Bebas Neue', sans-serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Fira Sans Condensed', sans-serif;
  }
}

@layer components {
  .select-jenis-senjata {
    @apply text-lg block px-5 py-3 cursor-pointer hover:bg-slate-800 hover:text-slate-100 font-subJudul;
  }

  .rotasi {
    rotate: 180deg;
  }

  .statistik {
    @apply flex  justify-between px-2 pr-12;
  }

  .border-campuran {
    border-top: 2px dashed;
    border-right: 2px dashed;
    border-bottom: 2px solid;
    border-left: 2px solid;
  }

  .bg-logo-transparan {
    background-image: url('../components/background/logo-tulisan-valorant-tranparan.png');
    background-repeat: repeat-y;
    background-size: 85%;
    background-position-x: center;
    background-blend-mode: overlay;
  }

  .bg-dekor-valo1 {
    background-image: url('../components/background/dekorValo1.png');
    background-repeat: repeat-y;
    background-position: center;
  }
  .bg-dekor-valo2 {
    background-image: url('../components/background/dekorValo2.png');
    background-repeat: repeat-y;
    background-position: left;
  }
  .bg-dekor-valo3 {
    background-image: url('../components/background/dekorValo3.png');
    background-repeat: repeat-y;
    background-position: center;
  }

  .before-dekor-card {
    @apply before:w-2 before:h-2 before:bg-red-400 before:absolute before:top-0 before:left-0;
  }
}

@layer utilities {
  .transisi {
    transition: all 0.5s linear;
  }

  .bayangan {
    filter: drop-shadow(1rem 1.5rem 0 rgba(15, 25, 35, 0.17));
    -webkit-filter: drop-shadow(1rem 1.5rem 0 rgba(15, 25, 35, 0.17));
  }
  .bayangan2 {
    filter: drop-shadow(0.2rem 0.5rem 1px rgba(15, 25, 35, 0.17));
    -webkit-filter: drop-shadow(0.5rem 0.5rem 1px rgba(15, 25, 35, 0.17));
  }

  .bayangan-hover {
    filter: drop-shadow(0.5rem 0.5rem 1px rgba(15, 25, 35, 0.17));
    -webkit-filter: drop-shadow(1.5rem 2.5rem 1px rgba(15, 25, 35, 0.17));
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
