@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Karma', serif;
  }

  h1 {
    font-family: 'Bebas Neue', sans-serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Fira Sans Condensed', sans-serif;
  }
}

@layer components {
  .select-jenis-senjata {
    @apply text-lg block px-5 py-3 cursor-pointer hover:bg-slate-800 font-subJudul;
  }

  .rotasi {
    rotate: 180deg;
  }

  .statistik {
    @apply flex  justify-between px-2 pr-12;
  }

  .border-campuran {
    border-top: 2px dashed;
    border-right: 2px dashed;
    border-bottom: 2px solid;
    border-left: 2px solid;
  }
}

@layer utilities {
  .transisi {
    transition: all 0.5s linear;
  }

  .bayangan {
    filter: drop-shadow(1rem 1.5rem 0 rgba(15, 25, 35, 0.17));
    -webkit-filter: drop-shadow(1rem 1.5rem 0 rgba(15, 25, 35, 0.17));
  }
  .bayangan2 {
    filter: drop-shadow(0.2rem 0.5rem 1px rgba(15, 25, 35, 0.17));
    -webkit-filter: drop-shadow(0.5rem 0.5rem 1px rgba(15, 25, 35, 0.17));
  }

  .bayangan-hover {
    filter: drop-shadow(0.5rem 0.5rem 1px rgba(15, 25, 35, 0.17));
    -webkit-filter: drop-shadow(1.5rem 2.5rem 1px rgba(15, 25, 35, 0.17));
  }
}
